/*MEDIA QUARY FILE */  
/*PC */
@media (min-width:992px){


html{
font-size: 52.5%;
overflow-x: hidden;
}
.main .maini{ width: 50rem;
height: 60rem;
display: flex;
box-shadow: 0 2px 90px var(--pink);
  background:#754ef9;
 border-radius: 61% 39% 73% 27% / 26% 58% 42% 74%;
margin-left: 64rem;
justify-content: flex-end;}
.main .text{color: #fff;
position: absolute;
top: 66%;
line-height: 6rem;
left: 37%;
transform: translate(-50%, -50%);}
.main .text h3{font-size: 3rem;
}}
   /*LARG SCREENS */ 
@media (min-width:1280px){


html{
font-size: 62.5%;
overflow-x: hidden;
}
.main .maini{ width: 60rem;
height: 70rem;
display: flex;
box-shadow: 0 2px 90px var(--pink);
  background:#754ef9;
 border-radius: 61% 39% 73% 27% / 26% 58% 42% 74%;
margin-left: 60rem;
justify-content: flex-end;}
.main .text{color: #fff;
position: absolute;
top: 63%;
line-height: 6rem;
left: 37%;
transform: translate(-50%, -50%);}
.main .text h3{font-size: 3rem;
}}

@media (max-width:768px){

#menu{
display: block;
}

.header .navbar{
position: absolute;
top:100%; left:-100%;
 
 background:  #231f2d;


 box-shadow: 0 15px 25px rgba(0,0,0,0.1);
height:calc(100vh - 100%);
padding:2rem;
border-top: .1rem solid rgba(0,0,0,.1);
width:100%;
}

.header .navbar.nav-toggle{
left:0%;
box-shadow: 0 100vh 0 100vh rgba(0,0,0,.1);
}

.header .navbar a{
font-size: 2rem;
display: block;
margin:5rem 0;
text-align: center;
}

.fa-times{
transform: rotate(180deg);
}
  
}
/*TABS AND MOBILE AND OTHER DEVICES  */
@media (max-width:768px){
.footer{
    font-size: 1rem;    
    }
html{
font-size: 52.5%;
overflow-x: hidden;
}
.main{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-image: url(images/tt.svg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.main .maini{display: none;}
.main .text{color: #fff;
position: absolute;
top: 40%;
width: 100%;
line-height: 5rem;
left: 50%;
transform: translate(-50%, -50%);}
.main .text h3{font-size: 3rem;
font-weight: 800;
}
.main .text h1{font-size: 4rem;
font-weight: 900;
  -web-kit-stroke-width:1rem;
-web-kit-stroke-color:red;
}
.main .text .cv{color: #fff;
 background:#754ef9;
padding: 1rem;
 
padding-left: 4rem;
border-radius: .5rem;
padding-right: 4rem;}

.main .text p{font-size: 1.3rem;
 width: 100%;
  
line-height: 2.5rem;
font-weight: 200;}
section{  min-height: 70vh;
  
padding-top: 7.5rem;
padding-bottom: 3rem;
}

.heading{
text-align: center;
padding:1rem;
color:#fff;
font-size: 4rem;

text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
font-weight: bolder;
text-transform: uppercase;
letter-spacing: .3rem;
}
.contact .row .image{display: none;}
/*SPAN HEADING */  
.heading span{
text-align: center;
padding:1rem;
color:var(--pink);
font-size: 4rem;
text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
font-weight: bolder;
text-transform: uppercase;
letter-spacing: .3rem;
}

@media (max-width:360px){

html{
font-size: 32.5%;
overflow-x: hidden;
}}

@media (max-width:384px){

html{
font-size: 42.5%;
overflow-x: hidden;
}}
   
@media (max-width:412px){

html{
font-size: 32.5%;
overflow-x: hidden;
}}
   
@media (max-width:320px){

html{
font-size: 32.5%;
overflow-x: hidden;
}}
   
@media (max-width:393px){

html{
font-size: 42.5%;
overflow-x: hidden;
}}
 
@media (max-width:768px){

html{
font-size: 62.5%;
overflow-x: hidden;
}}

@media (max-width:320px){

html{
font-size: 42.5%;
overflow-x: hidden;
}}
  
@media (min-width:992px){


.main .maini{ width: 60rem;
height: 70rem;
display: flex;
box-shadow: 0 2px 90px var(--pink);
  background:#754ef9;
 border-radius: 61% 39% 73% 27% / 26% 58% 42% 74%;
margin-left: 5rem;
justify-content: flex-end;}
.main .text{color: #fff;
position: absolute;
top: 59%;
line-height: 6rem;
left: 37%;
transform: translate(-50%, -50%);}
.main .text h3{font-size: 3rem;
}}
/* QUARY END */  